name: Get Branch Name

on:
  push:
    branches:
      - '*'

jobs:
  get-branch-name:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Get Branch Name
      run: echo "Branch name is ${{ github.event_name }}/${{ github.ref }}"
