name: cut

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        app= echo ${{ github.event.repository.name }}
        echo app1= $app1 >> $GITHUB_ENV
        echo $app1
    - name: Set String Variable
      run: echo "MY_STRING=Hello, GitHub Actions!" >> $GITHUB_ENV

    - name: Extract Word
      run: |
        EXTRACTED_WORD=$(echo $MY_STRING | awk '{print $1}')
        echo "Extracted word is $EXTRACTED_WORD"
        
