name: cut

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      
    - uses: rishabhgupta/split-by@v1
      id: split
      with:
        string: 'feat/branch-name/jou/toi'
        split-by: '/'
    - run: | 
        echo "${{ steps.split.outputs._2}}"

