name: cut

on: 
  push: 
    branches:
      - main
jobs:
    truncate:
      runs-on: ubuntu-latest
      steps:
        - name: Truncate String
          run: |
            app1=${{ github.event.repository.name }}
            echo app1= $app1 >> $GITHUB_ENV
            echo $app1
