name: cut

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        app= echo ${{ github.event.repository.name }}
        echo app1= $app1 >> $GITHUB_ENV
        echo $app1
    - name: main
      if: github.ref=='refs/heads/main'
      run: |
        echo "regionP=uw" >> $GITHUB_ENV
        applicationName= "mrcg-in-${regionP}${app1#mule-mrcg-integ}"
        echo $applicationName
