name: cut

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        app= ${{ github.event.repository.name }}
        echo app= $app >> $GITHUB_ENV
        echo $app
